main{
    width: 100%;
}

main section{
    width: 60%;
    display: flex;
    flex-direction: column;
}

main section h1,label,textarea,button{
    margin: 2%;
}

textarea{
    background-color: rgba(204, 204, 204, 0.356);
    border: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: 15px;
}
